// _config.scss

$colors: (
  lightGray: #EEEEEE,
  gray: #E0E4CC,
  
  // Blue
  river: #3498db,
  belize: #2980b9,
  
  // Orange
  carrot: #e67e22,
  pumpkin: #d35400,
  
  // Green
  emerald: #2ecc71,
  nephritis: #27ae60,

  // Yellow
  sunFlower: #f1c40f,
  orange: #f39c12,
  
  // Green Blue
  turquoise: #1abc9c,
  greenSea: #16a085,
  
  // Purple
  amethyst: #9b59b6,
  wisteria: #8e44ad,
  
  // Red
  alizarin: #e74c3c,
  pom: #c0392b,
  
  // White
  cloud: #ecf0f1,
  silver: #bdc3c7,

  // Black
  asphalt: #34495e,
  midnight: #2c3e50


);